<div class="modal">
  <ion-header-bar class="bar-secondary">
    <h1 class="title">New Challenge</h1>
  </ion-header-bar>
  <ion-content>
    <form name="form_add_slide" ng-submit="addChallenge(name)">
      <div class="list">
        <label class="item item-input item-label">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Challenge Name" name="content" ng-model="name"/>
        </label>
      </div>
      <ion-list>
        <ion-checkbox class="item" ng-model="user.selected" ng-repeat="user in users">
          <img style="max-height:42px;" ng-src="{{ trimPicture(user.picture) }}">
          {{ user.nickname }}
        </ion-checkbox>
      </ion-list>
      <div class="row">
        <button type="submit" class="button button-block button-positive">Save</button>
      </div>
    </form>
  </ion-content>
</div>
