<ion-view view-title="Leaderboard">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-avatar item-icon-right" ng-repeat="leader in leaders | filter:hasUsage | orderBy:'-bytes' | limitTo:5" type="item-text-wrap">
        <img ng-src="{{trimPicture(leader.picture)}}">
        <h2>{{leader.nickname}}</h2>
        <p>{{formatSizeUnits(leader.bytes)}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
