<style>
  .logoutButton {
    width: 100%;
  }
  .profilePic {
    height: 100px;
    width: 100px;
    float: left;
  }
  .profileName {
    font-weight: bold;
    font-size: 24px;
    float: right;
    margin-bottom: 10px;
  }
</style>

<ion-view view-title="Account">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>

    <div class="card">
      <div class="item item-body">
        <img class="profilePic" ng-src="{{me.picture}}">
        <div style="float:right;">
          <div class="profileName">{{profile.nickname}}</div>
          <div>{{me.humanBytes}}</div>
        </div>
      </div>
    </div>

    <div class="card">
      <button type="button" class="button button-assertive logoutButton" ng-click="logout()"/>Log out</button>
    </div>
  </ion-content>
</ion-view>
