<style>
  .challengeName {
    padding: 4px;
    display: inline-block;
  }

  .buttonRun {
    width: 100%;
  }
</style>

<ion-view view-title="Home">
  <ion-content class="padding">
    <button ng-click="toggleDownload()" ng-class="{'button': true, 'buttonRun': true, 'button-assertive': downloading, 'button-balanced': !downloading}">
      {{downloading ? "Stop" : "Start"}} download
    </button>

    <div class="center-all">
      <h2>{{humanTotal}}</h2>
    </div>

  </ion-content>
</ion-view>
