<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          Challenge request from <b>Joel</b>
          <div class="button-bar">
            <a class="button">Accept</a>
            <a class="button">Ignore</a>
          </div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          Use <b>20 MB</b> tomorrow
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item range range-positive">
        <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" name="limit" min="1" max="100" value="5">
        <i class="icon ion-ios-sunny"></i>
      </div>
      <div class="item">
        <button class="button button-calm">Run</button>
      </div>
    </div>
  </ion-content>
</ion-view>
